<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluidos en angular - Usualmente en el common module</p>
</div>

<div class="grid">

  <div class="col">
    <p-fieldset legend="i18nselect pipe" [toggleable]="true">
      <p class="m-0">
        Saludos {{ nombre }} es un placer
        {{genero | i18nSelect: invitacionMapa }}
        a nuestro evento
      </p>
    </p-fieldset>
  </div>

  <div class="col">
    <p-fieldset legend="i18nplural pipe" [toggleable]="true">
      <p class="m-0">
        Actualmente tenemos {{clientes.length | i18nPlural: clientesMapa }}
      </p>
    </p-fieldset>
  </div>

</div>
